<div class="comment-outer">
  <button class="comment-trigger small hover-ripple" href="#">
    See responses (<a href="{{{url}}}#disqus_thread">0</a>)
  </button>
  <div class="section comments">
    <div id="disqus_thread"></div>
    <script>
      (function() { // DON'T EDIT BELOW THIS LINE var d = document, s =
      d.createElement('script'); s.src =
      'https://ENTER-SHORTNAME_HERE/embed.js'; s.setAttribute('data-timestamp',
      +new Date()); (d.head || d.body).appendChild(s); })();
    </script>
    <noscript>
      Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
</div>

<script>
  var disqus_config = function () { this.callbacks.onNewComment = [function() {
  DISQUSWIDGETS.getCount({reset: true}); }]; };
</script>