<aside class="footer-outer">
  <div class="footer-inner sidebar">
    <footer
      class="section colophon"
      itemscope
      itemtype="http://schema.org/WPFooter"
    >
      <a href="https://ghost.org">Powered by Ghost</a>
      © 2019 Pacific. Design by
      <a href="#">SejakPagi</a>
    </footer>
  </div>
</aside>