<ul class="sharing-button small">
	<li class="icon-label">
		Share:
	</li>
	<li class="icon-facebook">
		<a target="_blank" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}">Facebook</a>
	</li>
	<li class="icon-twitter">
		<a target="_blank" href="https://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}">Twitter</a>
	</li>
</ul>
